 header{
  background-color: #280680;
  color: white;
  width: 100% !important;
  height: 40px !important;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
}

body{
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  align-content: center;
}

.info{
  font-size: 28px;
  margin-left: 16%;
  margin-right: 16%;
  color: darkslategray;
``}
`
.title{
  /* text-shadow: 1px 1px #C70039; */
  font-weight: lighter;
  font-size: 40px;
  color: black;
}
ul{
  font-size: 26px;
  list-style-type: none;
  font-weight: bolder;
  /* text-shadow: 0 0 2px #ffddc1; */
  color: black;
}
input[type=text], select{
  width: 67%;
  min-width: 320px;
  padding: 15px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  /* background-color: #FFECE7; */
}
input[type=text]:focus{
  border: 3px solid black;
}
input[type=button]{
  border: 2px solid black;
  align-content: center;
  width: 33%;
  min-width: 320px;
  color: darkslategray;
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
}
input[type=button]:hover{
  border: 3px solid black;
  box-sizing: border-box;
}
